*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:inherit;
}

html{
    box-sizing:border-box;
}

body{
    font-family: 'Nunito', sans-serif;
}

@font-face {
    font-family: 'Nunito';
    src:  url('Nunito-Light.ttf'),
          url('Nunito-Regular.ttf'),
          url('Nunito-SemiBold.ttf'),
          url('Nunito-Black.ttf'),
          url('Nunito-Bold.ttf');
  }
 
  @font-face {
    font-family: 'Roboto';
    src:  url('Roboto-SemiBold.ttf'),
          url('Roboto-Bold.ttf'),
          url('Roboto-Regular.ttf'),
          url('Roboto-BlackItalic.ttf'),
          url('Roboto-Black.ttf'),   
          url('Roboto-Light.ttf'),
          url('Roboto-Medium.ttf');
  }

.container{
    display:grid;
    grid-template-columns:1fr repeat(8,minmax(min-content,8.9062rem)) 1fr;
    grid-row-gap:30px;
}

.header{
    grid-column:1/-1;
    height:70px;
    background-color:#292828;
}

.toolbar{
    max-width:1140px;
    margin:0 auto;
    height:70px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    color:white;
}

.mainshop{
    grid-column:1/-1;
}

.mainpage{
    grid-column:2/10;
}

.gutterbottom{
    margin-bottom:50px;
}

.gutterbottomsmall{
    margin-bottom:20px !important;
}

table
{
    border-collapse: collapse;
    width:100%;
}



th,td{
    padding:10px;
}

th{
    text-align: left;
    background-color:black;
    color:white;
    position:sticky;
    top:0;
}

td{
    border:1px solid black;
}

tr{
    transition:all 0.5s;
}

tbody tr{
    cursor: pointer;
}

tbody tr:hover{
    background-color: #a29e9e;
}

.MuiDrawer-paper{
    background-color:#292828 !important;
}

.MuiFormLabel-root.Mui-focused:not(.Mui-error){
    color:black !important;
}

.MuiOutlinedInput-root.Mui-focused:not(.Mui-error) .MuiOutlinedInput-notchedOutline:not(.Mui-error){
    border-color:black !important;
}

.MuiInput-underline:after{
    border-bottom: 2px solid black !important;
}
/* rgb(21, 189, 118) */
.MuiButton-contained{
    color:white !important;
    background-color:green !important;
}

.MuiCircularProgress-colorPrimary{
    color:green !important;
}
.MuiBadge-colorPrimary{
    background-color:green !important;
}
/* .MuiBadge-colorSecondary{
    background-color:black !important;
    top:-3px !important;
    right:8px !important;
} */

.mainFormStyle,.mainLoadingStyle{
    display:flex;
    flex-flow: column;
    align-items: center;
    margin-bottom:20px;
    position: relative;
}
.mainFormStyle > *:not(.MuiCircularProgress-root):not(span){
    width:50% !important;
}
.mainFormStyle>*:not(.MuiCircularProgress-root):not(:last-child){
    margin-bottom:20px !important;
}

.dialogLoadingStyle{
    padding: 8px 24px 20px;
    display:flex;
    justify-content:center;
}

.dialogTitleStyle{
    padding:16px 24px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.drawerMenuColorHandling .MuiListItem-root{
    padding:8px 16px !important;
    color:#9e9e9e !important;
}
.MuiListItemIcon-root{
    color:#9e9e9e !important;
}

.drawerLinkActive .MuiListItem-root {
    color:white !important;
    border-left:5px solid white !important;
}

.drawerLinkActive .MuiListItemIcon-root{
    color:white !important;
}

.MuiLinearProgress-bar{
    background-color:#379237 !important;
}

.MuiDialog-paperWidthSm{
    max-width:1140px !important;
}