
.message{
    display: flex !important;
    align-items: center !important;
  }

.success{
    background-color:#43a047 !important;
}

.marginright{
    margin-right:6px !important;
}

.iconcolor{
    color:white !important;
}