.rowStyle th{
    background-color:white;
}

.tableFoot>*:not(:first-child):not(.totalRow){
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.totalRow{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}

.searchStyles{
    text-align:center;
    margin-top:-50px;
    margin-bottom:20px;
}
