.width50{
    width:50% !important;
}

.gutterbottom30{
    margin-bottom:30px !important;
}

.edit{
    color:#379237 !important;
}

.delete{
    color:#e21e1e !important;
}

.dialogMargin>*:not(:last-child){
    margin-bottom:20px !important;
}