.marginbottom30{
    margin-bottom:30px !important;
}

.mainFlexStyling{
    display:flex;
    justify-content:space-evenly;
}

.mainFlexStylingChild{
    display:flex;
    flex-flow:column;
    align-items:center;
}


.mainFlexStylingChild>*:not(:last-child){
    font-size:22px;
    font-weight:bold;
    margin-bottom:5px;
}