.width50{
    width:50% !important;
}

.marginbottom30{
    margin-bottom:15px !important;
}

.edit{
    color:#379237 !important;
}

.delete{
    color:#e21e1e !important;
}

.deleteButton{
    background-color:#e21e1e !important;
}

.dialogMargin>*:not(:last-child){
    margin-bottom:20px !important;
}