.logoutGrid{
    display:grid;
    /* grid-auto-flow: column; */
    /* grid-auto-columns: 1fr; */
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
    align-items: center;
    grid-column-gap: 10px;
}

.marginRightButton{
    margin-right:-10px !important;
}

.linkitems{
    list-style:none;
}

.linkitems li{
    padding:20px;
    border-left:5px solid #039be5;
    margin-top:15px;
}

.linkitems a{
    text-decoration:none;
}